.pointer {
    cursor:pointer;
}
.actionmsg {
	font-size:16px;
	color:#49bf67;
}
.errormsg {
	font-size:16px;
	color:#ff0000;
}

.loader {
	z-index: 2;
    border: 6px solid #0074a5; /* Light grey */
    border-top: 6px solid #009fe3; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

#pageloader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover { 
    cursor:pointer; 
}