*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #0074a5;
  background-image: linear-gradient(182deg, #0074a5, #009fe3);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

ol,
ul,
dl {
  margin: 0;
  list-style: none;
  padding: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  padding: 0;
  list-style: none;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  line-height: 122%;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.25;
}

h5 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bcbcbc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.huntinglink {
  display: inline-block;
}

.huntinglink img {
  display: block;
  width: 20px;
}

.table_container {
  overflow: auto;
}

.fz12 {
  font-size: 12px;
  line-height: 14px;
}

.fz8 {
  font-size: 8px;
  line-height: 10px;
}

.dashboard_container {
  display: flex;
  min-height: 100vh;
  flex-grow: 1;
}

.dashboard_containers {
  flex-grow: 1;
}

.menu_sidebar {
  width: 360px;
  background: #0074a5;
  flex-shrink: 0;
  border-right: 2px solid #fff;
}

.bodyWrap {
  overflow: hidden;
}

.menu_content {
  max-height: 100%;
  overflow: auto;
  padding: 60px 45px 50px 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.side_logo img {
  display: block;
  max-width: 236px;
}

.navbar-nav .nav-link {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255 255 255 / 60%);
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #fff;
}

.dropdown-toggle::after {
  position: absolute;
  left: -20px;
  top: 13px;
  border: 0;
  width: 11px;
  height: 13px;
  background-image: url("assets/img/right_angel.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0;
}

.navbar-nav .nav-link::before,
.side_menu .dropdown-menu .dropdown-item:before {
  content: "";
  width: 18px;
  height: 22px;
  display: inline-block;
  background: url("assets/img/menu_icon.svg") no-repeat scroll center / contain;
  margin-right: 7px;
  opacity: 0.7;
  flex-shrink: 0;
}

.navbar-nav .nav-link.dropdown-toggle::before {
  background: url(assets/img/folder-outline.svg) no-repeat scroll center /
    contain;
}

.navbar-nav .nav-link.active::before {
  opacity: 1;
}

ul.navbar-nav li.nav-item:nth-child(4) {
  margin-bottom: 30px;
}

.side_menu .dropdown-menu {
  position: relative !important;
  z-index: 1;
  transform: unset !important;
  background: transparent;
  border: 0;
  padding: 0 0 0px 20px;
  outline: none;
  transition: 0.3s ease all;
  max-height: 0px;
  overflow: hidden;
  display: block !important;
}

.side_menu .dropdown-menu.show {
  max-height: 2500px;
  overflow: visible;
}

.side_menu .dropdown-menu .dropdown-item {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255 255 255 / 60%);

  margin-bottom: 3px;
  padding: 0.3rem 0rem;
  align-items: center;
  line-height: 1;
  display: flex;
}

.side_menu .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #fff;
}

.navbar-nav .nav-link.dropdown-toggle:hover,
.navbar-nav .nav-link.dropdown-toggle.show {
  color: #fff;
  opacity: 1;
}

.side_menu .dropdown-menu .dropdown-item:hover:before,
.side_menu .dropdown-menu .dropdown-item.active:before {
  opacity: 1;
}

.navbar-nav .nav-link.dropdown-toggle.show::after {
  transform: rotate(90deg);
}

.side_logo {
  margin-bottom: 45px;
}

.admin_box {
  padding-top: 50px;
}

.admin_content {
  background-color: #007bb0;
  background-image: linear-gradient(45deg, #007bb0, #009fe3);
  padding: 41px 41px 31px 41px;
  border-radius: 20px;
  text-align: center;
}

.admin_content img {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.admin_content h5 {
  margin-bottom: 5px;
}

.whiteBtn {
  font-size: 18px;
  line-height: 1;
  background: #fff;
  display: inline-block;
  padding: 7px 35px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  transition: 0.3s ease all;
  text-transform: uppercase;
  font-weight: bold;
  color: #4d4b4c;
}

.admin_content p {
  margin-bottom: 9px;
}

.whiteBtn:hover {
  background: transparent;
  border-color: #4d4b4c;
  color: #fff;
}

.admin_box > p {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.dashboardTopbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.dashboard_content {
  padding: 50px 50px 50px 50px;
  width: 100%;
}

.dashTopRight {
    display: flex;
    align-items: center;
    width: 521px;
    flex-shrink: 0;
}

.top_user {
  margin-left: 60px;
}

.search_dash form {
  display: flex;
  align-items: center;
  width: 268px;
  background: #006894;
  border-radius: 50px;
  height: 45px;
  padding: 0px 10px 0px 20px;
}

.search_dash {
  flex-shrink: 0;
}

.search_dash form button {
  border: 0;
  outline: none;
  background: transparent;
  box-shadow: none;
  padding: 0;
  flex-shrink: 0;
  width: 22px;
  margin-right: 10px;
}

.search_dash form input {
  border: 0;
  outline: none;
  box-shadow: none;
  color: #fff;
  background: transparent;
  font-size: 18px;
  line-height: 1;
  width: 50%;
  flex-grow: 1;
}

.search_dash form input::placeholder {
  color: #fff;
}

.top_user {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.seru_avatar {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0074a6;
  background: #fff;
  font-size: 24px;
  line-height: 1;
  border-radius: 50%;
  font-weight: bold;
  margin-right: 10px;
}

.blue_btn {
  background: #009fe3;
  color: #fff;
  display: inline-block;
  padding: 2px 23px;
  border-radius: 15px;
}

.user_cont h5 {
  margin-bottom: 3px;
}

.dash_bottomCont {
  padding-right: 30px;
}

.number_boxes > .row {
  margin: 0 -10px;
}

.number_boxes > .row > div {
  padding: 0 10px;
}

.number_boxes {
  margin-bottom: 30px;
}

.number_box {
  display: flex;
  align-items: center;

  padding: 24px 20px;
  background-color: #038ec9;
  background-image: linear-gradient(45deg, #038ec9, #00709f);
  border-radius: 20px;
  margin-bottom: 20px;
}

span.theNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border: 3px solid #009fe3;
  background: #fff;
  border-radius: 10px;
  font-size: 38px;
  line-height: 46px;
  color: #424242;
  flex-shrink: 0;
  margin-right: 12px;
  padding:0 10px 0 10px;
  font-weight: bold;
}

.number_box.activeNumber {
  opacity: 1;
}

.activeNumber span.theNumber {
  border-color: #ff821d;
}

table.table thead tr th {
  background: #038ec9;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  height: 42px;
  vertical-align: middle;
}

table.table thead tr th:last-child {
  border-radius: 0px 10px 10px 0px;
}

table.table tbody tr td {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  height: 41px;
  vertical-align: middle;
  border-bottom: 2px dashed rgb(255 255 255 / 50%);
  padding: 5px 10px;
}

.htungsliste table.table tbody tr td:last-child {
  text-align: right;
  width: 42px;
}

.altosVers table.table tr  th:last-child,
.altosVers table.table tbody tr  td:last-child,
.Standortemit table.table tr  th:last-child,
.Standortemit table.table tbody tr  td:last-child,
.Neuinsta table.table tr th:last-child,
.Neuinsta table.table tbody tr td:last-child,
table.table.tableHeadNone tr th:last-child,
table.table.tableHeadNone tbody tr td:last-child {
  width: 150px;
  min-width: 45px;
}

.text-right {
  text-align: right;
}

.table_contents > .row {
  margin: 0 -20px;
}

.table_contents > .row > div {
  padding: 0 20px;
}

table.table thead tr th {
  background: #038ec9;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  height: 42px;
  vertical-align: middle;
}

table.table thead tr th:first-child {
  border-radius: 10px 0px 0px 10px;
}

.table_contents > .row {
  margin: 0 -20px;
}

.table_contents > .row > div {
  padding: 0 20px;
}

.downloadTable {
  margin-top: 20px;
}

ul.downloadLinks li {
  border-bottom: 1.5px dashed #fff;
  padding: 0 10px;
}

ul.downloadLinks li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 43px;
  color: #fff;
}

ul.downloadLinks li:first-child {
  border-top: 1.5px dashed #fff;
}

table.table.tableHeadNone tbody tr td {
  border-top: 2px dashed rgb(255 255 255 / 50%);
}

.EingeActive {
  display: inline-block;
  background: #009fe3;
  padding: 5px 14px;
  border-radius: 35px;
}

.orangeCircle,
.blueCircle,
.Umgebung li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 2.5px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #009fe3;
}

.Umgebung {
  display: flex;
}

.orangeCircle,
.Umgebung li.active {
  background: #ff821d;
}

.w130 {
  width: 90px;
}

.w30 {
  display: inline-block;
  width: 30px;
}

.w50 {
  display: inline-block;
  width: 50px;
}

.altosVers span.blueCircle,
.altosVers span.orangeCircle {
  display: block;
  margin: 0 auto;
}

body.listenansicht {
  background-image: linear-gradient(to bottom, #0074a5 70%, #009fe3);
}

.neuinstaContainer {
  padding-top: 15px;
}

.neuinstaContainer > .row {
  margin: 0 -20px;
}

.col33 {
  padding: 0 20px;
  width: 33.3333%;
  flex-shrink: 0;
}

.col50 {
  padding: 0 20px;
  width: 50%;
  flex-shrink: 0;
}

.select {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-bottom: 16px;
}

.select select {
  display: block;
  width: 100%;
  background: #038ec9;
  color: #fff;
  border-radius: 10px;
  height: 37px;
  border: 0;
  padding: 0 10px;
  min-width: 244px;
  appearance: none;
  outline: none;
}

.selectArrow {
  display: block;
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #038ec9;
  width: 30px;
  height: 20px;
  background-image: url("assets/img/chevron-down.svg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 12px;
  pointer-events: none;
}

.inpCol input,
.inpCol textarea {
  display: block;
  background: #038ec9;
  border: 1px solid #fff;
  outline: none;
  box-shadow: none;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding: 10px 12px;
}

.inpCol input::placeholder,
.inpCol textarea::placeholder {
  color: rgb(255 255 255 / 50%);
}

.inpCol {
  margin-bottom: 16px;
}

.inpCol textarea {
  width: 100%;
  height: 166px;
  resize: none;
}

.dualinp {
  display: flex;
}

.dualinp input.longInp {
  flex-grow: 1;
}

.StraÃŸe.dualinp input.smallInp {
  width: 61px;
  flex-shrink: 0;
  margin-left: 16px;
}

.PLZ.dualinp input.smallInp {
  width: 93px;
  margin-right: 16px;
  flex-shrink: 0;
}

.basisdaten .dualinp.inpCol.PLZ {
  margin-bottom: 33px;
}

.bg_title {
  background: #038ec9;
  color: #fff;
  border-radius: 10px;
  padding: 5.5px 10px;
  border-bottom: 1px solid rgb(112 112 112 / 20%);
  line-height: 30px;
}

ul.radioOptList li,
ul.checkboxList li {
  border-bottom: 2px dashed rgb(255 255 255 / 50%);
  padding: 8px 20px 8px 10px;
}

ul.radioOptList li input,
ul.checkboxList li input {
  display: none;
}

ul.radioOptList li label,
ul.checkboxList li label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.radioCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
}

.radioCircle:after {
  display: block;
  width: 11px;
  height: 11px;
  background: #4d4b4c;
  transition: 0.3s ease all;
  content: "";
  border-radius: 50%;
  opacity: 0;
}

body.neuinstallation {
  background-image: linear-gradient(to bottom, #0074a5 70%, #009fe3);
}

input:checked + label .radioCircle:after {
  opacity: 1;
}

.basisdaten .radioBoxCheckBox:last-child {
  margin-top: 35px;
}

.checkboxStyle {
  position: relative;
  z-index: 1;
  width: 45px;
  height: 24px;
  background: #ff821d;
  border-radius: 30px;
  transition: 0.3s ease all;
  display: flex;
  cursor: pointer;
}

.checkboxStyle:after {
  display: block;
  width: 19px;
  height: 19px;
  content: "";
  border-radius: 50%;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 3px;
  transition: 0.3s ease all;
}

input[type="checkbox"]:checked + label .checkboxStyle {
  background: #009fe3;
}

input[type="checkbox"]:checked + label .checkboxStyle:after {
  left: 22px;
}

.umgebungsdaten ul.checkboxList {
  margin-bottom: 70px;
}

.umgebungsdaten ul.checkboxList li:first-child {
  border-top: 2px dashed rgb(255 255 255 / 50%);
}

.neuinstaContent {
  margin-bottom: 75px;
}

.whitelineBtn {
  border: 1px solid #fff;
  background: transparent;
  transition: 0.3s ease all;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  padding: 11px 30px;
  border-radius: 50px;
  width: 100%;
  max-width: 320px;
  display: inline-block;
  margin-bottom: 7px;
}

.bestToopBtn {
  text-align: center;
}

.whitelineBtn:hover {
  background: #fff;
  color: #000;
}

.NeuinstallationenTable label {
  display: block;
  margin: 0 auto;
  max-width: fit-content;
}

.whiteMark,
.orangeMark,
.blueMark {
  display: inline-block;
  background: #fff;
  color: #4d4b4c;
  padding: 2px 10px;
  border-radius: 20px;
  min-width: 77px;
  text-align: center;
}

.orangeMark {
  color: #fff;
  background: #ff821d;
}

.blueMark {
  color: #fff;
  background: #009fe3;
}

.checkboxStyle.whiteCheckbox {
  background: #fff;
}

span.checkboxStyle.whiteCheckbox:after {
  background: #038ec9;
}

input[type="checkbox"]:checked + label span.checkboxStyle.whiteCheckbox {
  background: #009fe3;
}

input[type="checkbox"]:checked + label span.checkboxStyle.whiteCheckbox:after {
  background: #fff;
}

table.table.border_none td {
  border: 0;
  padding: 3px 10px;
  height: auto;
}

.LogfilesBox {
  margin-bottom: 30px;
}

.LogfilesBox .bg_title {
  margin-bottom: 10px;
}

.col20 {
  padding: 0 20px;
  width: 20%;
  flex-shrink: 0;
}

.col40 {
  padding: 0 20px;
  width: 40%;
  flex-shrink: 0;
}

.col60 {
  padding: 0 20px;
  width: 60%;
  flex-shrink: 0;
}

.squareLine {
  display: flex;
  flex-wrap: wrap;
}

ul.squareLine li {
  display: block;
  width: 23px;
  background: #009fe3;
  height: 23px;
  margin-right: 4.85px;
  margin-bottom: 5px;
}

.square_lineBox p {
  margin: 0 0 3px 0;
}

.square_lineBox {
  margin-bottom: 20px;
  display: inline-block;
}

.squ_line_text {
  display: flex;
  justify-content: space-between;
}

ul.squareLine li:last-child {
  margin-right: 0;
}

li.orangeSq {
  background: #ff821d !important;
}

.dualinp.inpCol.Straße input.smallInp {
  width: 67px;
  margin-left: 16px;
}

.search_dash.whiteSearch form {
  width: 100%;
  max-width: 350px;
  background: #ffffff;
}

.search_dash.whiteSearch input,
.search_dash.whiteSearch input::placeholder {
  color: rgb(77 75 76 / 50%);
}

.radioCircle.blueCircle::after {
  background: #009fe3;
}

h5.bg_title_small {
  background: #038ec9;
  padding: 10px;
}

ul.flexContent li {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  align-items: center;
  height: 42px;
  border-bottom: 2px dashed rgb(255 255 255 / 50%);
}

.BeobachtTable table.table {
  min-width: 540px;
}

.mobileLogo a {
  display: block;
  margin: 0 auto;
  width: 240px;
}

.BeobachtTable h3 span {display: inline-block;}

.neuinstaContent.HistoryCol td.w130 {
    width: 10%;
    min-width: 110px;
    max-width: 110px;
}

.autocomplete-wrapper {
    position: relative;
    flex-grow: 1;
}

.autocomplete-wrapper> input {
    display: block;
    width: 100%;
}

.autocomplete-items {
    position: absolute;
    z-index: 1;
    background: #fff;
    overflow: auto;
    left: 0;
    right: 0;
    top: 100%;
    border-radius: 0px 0px 10px 10px;
    max-height: 200px;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease all;
    box-shadow: 0 3px 3px #00000059;
}

.autocomplete-item {
    color: #000;
    line-height: 19px;
    font-size: 16px;
    padding: 5px 15px;
}

.autocomplete-wrapper> input:focus + div {
    opacity: 1;
    visibility: visible;
}

.hidecomponent {
  display: none !important;
}